button.standard-button {
  background-color: var(--quertiery);
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 8px;
  box-shadow: 2px 2px 3px var(--black
);
}

button.standard-button a {
  color: var(--white);
  text-decoration: none;
}
