header {
  background-color: var(--primary);
  height: 80px;
  padding-inline: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header figure {
  height: 80px;
}

header figure img {
  height: 100%;
}

header nav {
  display: flex;
  gap: 24px;
}

header nav a {
  background-color: var(--quertiery);
  color: var(--white);
  text-decoration: none;
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 6px;
  box-shadow: 2px 2px 3px var(--balck);
  transition: 0, 3s ease;
}

header nav a:hover {
  scale: 120%;
}

header nav a:active {
  scale: 90%;
}
