section.hero {
  min-height: calc(100dvh - 80px);
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 36px;
  background-color:var(--secandary) ;
  border-radius: 0;
  margin-inline: 0;
  margin-top: 0;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
}

section.hero div.hero-text {
  display: grid;
  gap: 0px;
}

section.hero h1 {
  font-size: 4, 5rem;
  color: var(--grey);
}

section.hero div.hero-text p {
  font-size: 1, 5rem;
}

section.hero button {
  background-color: var(--quertiery);
  border: 2px solid var(--white);
  border-radius: 8px;
  padding: 4px;
  box-shadow: 2px 2px 3px var(--black);
}
