@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./projects.css";
@import "./buttons.css";
@import "./footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

body {
  color: rgb(228, 222, 222);
  background-color: rgb(22, 22, 22);
  overflow-x: hidden;
}

main {
  padding-inline: 64px;
  display: grid;
  /* gap: 64px; */
  /* margin: 64px 0; */
}

/* styler alle seksjoner på siden */

section {
  margin-inline: 64px;
  margin-top: 64px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  /* padding: 40px; */
  background-color: rgb(53, 54, 63);
  border-radius: 16px;
}

section :last-of-type {
  margin-bottom: 8px;
}
