@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./projects.css";
@import "./buttons.css";
@import "./footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
}

:root {
  /* --primary:hsl(246, 85%, 74%) ;
  --secandary:hsl(234, 9%, 23%) ;
  --tertiery: ;
  --quertiery: ;
  --accent: ;

  --black:hsl(0, 0%, 9%) ;
  --white:hsl(250, 7%, 84%) ;
  --darkGrey: ;
  --grey: ; */

  --primary: #0F8CFA;
  --secandary:#0662B2;
  --tertiery:#033663 ;
  --quertiery:#4BA9FB ;
  --accent:#5FB3FC ;

  --black:#000B14;
  --white:#EBF5FF;
  --darkGrey:#2C2F31 ;
  --grey:#384149 ;
}

body {
  color: var(--white);
  background-color: var(--black);
  overflow-x: hidden;
}

main {
  padding-inline: 64px;
  display: grid;
  /* gap: 64px; */
  /* margin: 64px 0; */
}

/* styler alle seksjoner på siden */

section {
  margin-inline: 64px;
  margin-top: 64px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  /* padding: 40px; */
  background-color: var(--tertiery);
  border-radius: 16px;
}

section :last-of-type {
  margin-bottom: 8px;
}
